<div class="row beekeeper dynamic">
	<div class="medium-7 columns">
		<h6 class="beekeeper-name">
			<% unless f.object.user.nil? %>
				<h6 class="beekeeper-name"><%= "#{f.object.user.first_name} #{f.object.user.last_name}" %></h6>
			<% end %>
		</h6>
	</div>
	<div class="medium-3 columns">
		<%= f.select(:permission, options_for_select(Beekeeper::PERMISSIONS, f.object.permission), {}, {class: 'beekeeper-permission'}) %>
	</div>
	<div class="medium-2 columns">
		<% unless f.object.user.nil? %>
			<%= f.hidden_field :email, value: f.object.user.email, class: 'beekeeper-email' %>
		<% else %>
			<%= f.hidden_field :email, class: 'beekeeper-email' %>
		<% end %>

		<%= f.hidden_field :_destroy %>
		<%= link_to 'Remove Beekeeper', '#', class: 'remove-fields remove-beekeeper' %>
	</div>
</div>
