<!-- Error container -->
<div class="row">
	<div class="medium-12 columns">
		<div id="beekeeper-errors"></div>
	</div>
</div>
<!-- Form -->
<div class="row">
	<div class="medium-12 columns">
		<%= form_for :beekeeper, url: beekeepers_path , remote: true, html: {:id => "beekeeper"} do |f| %>
			<div class="row">
				<div class="medium-12 columns">
					<label>Add Member to Apiary</label>
				</div>
			</div>
			<div class="row">
				<div class="medium-7 columns">
					<%= f.text_field :email %>
				</div>
				<div class="medium-3 columns">
					<%= f.select :permission, Beekeeper::PERMISSIONS %>
				</div>
				<div class="medium-2 columns">
					<%= link_to 'Add Beekeeper', '#', id: 'add-beekeeper' %>
					<input id="apiary" type="hidden" name="beekeeper[apiary_id]"  value="<%= @apiary.id %>" />
				</div>
			</div>
		<% end %>
	</div>
</div>
<!-- Beekeepers -->
<span id="beekeeper-list">
	<% @beekeepers.each do |beekeeper| %>
		<%= render :partial => "shared/beekeeper", :object => beekeeper %>
	<% end %>
</span>
