<div class="row">
	<%= form_for(@apiary) do |f| %>
		<!-- Apiary information -->
		<div class="medium-6 columns">
			<!-- Errors for apiary information -->
			<div class="row">
				<%= render partial: 'shared/errors', locals: {object: @apiary} %>
			</div>
			<!-- Apiary Name field -->
			<div class="row">
				<div class="medium-10 columns">
					<%= f.label :name %>
					<%= f.text_field :name %>
				</div>
			</div>
			<!-- Apiary Street Address field -->
			<div class="row">
				<div class="medium-10 columns">
					<%= f.label :street_address %>
					<%= f.text_field :street_address %>
				</div>
			</div>
			<!-- Apiary City, State, Zip Code fields -->
			<div class="row">
				<div class="medium-4 columns">
					<%= f.label :city %>
					<%= f.text_field :city %>
				</div>

				<div class="medium-3 columns">
					<%= f.label :state %>
					<%= f.select :state, us_states, include_blank: true %>
				</div>
				<div class="medium-3 columns">
					<%= f.label :zip_code %>
					<%= f.text_field :zip_code %>
				</div>
				<%= f.hidden_field :photo_url, id: 'photo_url' %>
			</div>
			<!-- Form management buttons -->
			<div class="row">
				<div class="medium-6 columns">
					<%= submit_tag 'Save', id: 'form-submit' %>
				</div>
				<div>
					<% if !@apiary.new_record? && policy(@apiary).destroy? %>
						<%= link_to 'Destroy', @apiary, method: :delete, data: { confirm: 'Are you sure you want to delete this apiary?' } %>
					<% end %>
				</div>
			</div>
		</div>

		<!-- Beekeeper Management -->
		<% if current_page?(action: :edit) %>
			<div class="medium-6 columns">
				<div class="row">
					<div class="medium-12 columns">
						<label>Add Beekeeper to Apiary</label>
					</div>
				</div>
				<div class="row">
					<div class="medium-9 columns">
						<%= text_field_tag('beekeeper-email') %>
						<span id="beekeeper-error"></span>
					</div>
					<div class="medium-3 columns">
						<%= link_to_add_fields 'Add Beekeeper', f, :beekeepers, '', 'add-beekeeper' %>
					</div>
				</div>
				<div class="row">
					<div class="medium-12 columns" id="beekeeper-list">
						<%= f.fields_for :beekeepers do |builder| %>
							<%= render 'beekeeper', f: builder %>
						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>
