<% content_for :title, "Hivelife | Home" %>
<div class="medium-12 columns">
	<% @apiaries.each do |apiary| %>
		<div class="row apiary-row" data-equalizer>
			<!-- Hive count -->
			<div class="medium-1 columns show-for-medium-up" data-equalizer-watch>
				<div class="row">
					<div class="medium-12 medium-centered columns">
						<h3 class="text-center"><%= apiary.hive_count %></h3>
					</div>
				</div>
				<div class="row">
					<div class="medium-12 medium-centered columns">
						<h5 class="text-center"><%= 'HIVE'.pluralize(apiary.hive_count).upcase %></h5>
					</div>
				</div>
			</div>
			<!-- Apiary information -->
			<div class="medium-10 small-11 columns" data-equalizer-watch>
				<div class="row">
					<div class="medium-12 columns">
						<h3><%= apiary.name %></h3>
					</div>
				</div>
				<div class="row">
					<div class="medium-12 columns">
						<h5><%= apiary.get_location_string %></h5>
					</div>
				</div>
			</div>
			<!-- Apiary button -->
			<div class="medium-1 small-1 columns apiary-button-container" data-equalizer-watch>
				<div class="row" data-equalizer-watch>
					<div class="medium-12 columns apiary-button-container" data-equalizer-watch>
						<%= link_to raw("<i class=\"fa fa-angle-right\"></i>"), apiary_path(apiary), class: 'apiary-button' %>
					</div>
				</div>
			</div>
		</div>
	<% end %>
	<div class="row">
		<div class="medium-1 small-1 medium-centered small-centered columns ">
			<%= link_to '+', new_apiary_path, class: 'add-button' %>
		</div>
	</div>
</div>
