<% content_for :title, "Hivelife | #{@apiary.name}" %>
<div class="medium-12 columns">
	<div class="row">
		<!-- Left column -->
		<div class="medium-3 columns show-for-medium-up">
			<!-- Photo and uploader markup -->
			<div class="row">
				<%= render partial: 'shared/photo', locals: {object: @apiary,
																														edit_path: edit_apiary_path(@apiary),
																														upload_field_name: 'apiary[photo_url]',
																														upload_url: apiary_url(@apiary)} %>
			</div>
			<!-- Apiary location-->
			<div class="row">
				<div class="medium-12 columns text-center">
					<% if @apiary.city.blank? || @apiary.state.blank? %>
						<h6><%= @apiary.zip_code %></h6>
					<% else %>
						<h6><%= "#{@apiary.city}, #{@apiary.state}" %></h6>
					<% end %>
				</div>
			</div>
			<!-- Apiary name -->
			<div class="row">
				<div class="medium-12 columns text-center">
					<h4><%= @apiary.name %></h4>
				</div>
			</div>
			<!-- Beekeepers -->
			<div class="row">
				<div class="medium-12 medium-center columns">

					<table id="beekeepers-table">
						<tr>
							<th>Beekeepers</th>
						</tr>
						<% @beekeepers.each do |beekeeper| %>
						<tr>
							<td>
								<%= "#{beekeeper.user.first_name} #{beekeeper.user.last_name}" %>
							</td>
						</tr>
						<% end %>
					</table>
				</div>
			</div>
		</div>

		<div class="medium-9 small-12 columns">
			<% @hives.each do |hive| %>
				<%= render 'hive', hive: hive %>
			<% end %>
			<div class="row">
				<div class="medium-1 small-1 medium-centered small-centered columns ">
					<%= link_to '+', new_apiary_hive_path(@apiary, @hive), class: 'add-button'%>
				</div>
			</div>
		</div>
	</div>
</div>
