<div class="medium-12 columns">
  <div class="row">
    <div class="medium-12 columns">
      <h2>Forgot your password?</h2>
    </div>
  </div>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <div class="row">
      <div class="medium-4 columns">
        <%= devise_error_messages! %>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true %>
      </div>
    </div>

    <div class="row">
      <div class="medium-4 columns">
        <%= f.submit "Send me reset password instructions" %>
      </div>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
