<div class="row">
  <div class="medium-11 columns">
    <div class="row">
      <h3><%= inspection.inspected_at.in_time_zone(Time.zone).strftime('%B %d, %Y - %l:%M %P') %></h3>
    </div>
    <div class="row">
      <h5>Last edit by: <%= "#{inspection.user.first_name} #{inspection.user.last_name}" %></h5>
    </div>
    <div class="row">
      <h6><%= inspection.notes %></h6>
    </div>
  </div>
  <div class="medium-1 columns">
    <% if @can_write %>
      <div class="row text-center">
        <div class="medium-12 columns">
          <%= link_to raw("<i class=\"fa fa-pencil\"></i>"),
                  edit_hive_inspection_path(hive, inspection), class: 'pencil-button' %>
        </div>
      </div>
    <% end %>
    <div class="row text-center">
      <div class="medium-12 columns">
        <%= link_to raw('<i class="fa fa-angle-right"></i>'),
                hive_inspection_path(hive, inspection), class: 'inspection-button' %>
      </div>
    </div>
  </div>
</div>
