<div class="dynamic hive-box">
	<div class="medium-12 columns">
		<div class="row">
			<div class="medium-6 columns">
				<div class="percentage">
					<% if f.object.full.blank? %>
						<% full = 50 %>
					<% else %>
						<% full = f.object.full %>
					<% end %>

					<% if f.object.full.blank? %>
						<% capped = 50 %>
					<% else %>
						<% capped = f.object.capped %>
					<% end %>

					<label><span class="full percentage-label"><%= full %>%</span> Full</label>
					<div class="radius progress success medium-12">
						<span class="meter" style="width: <%= full %>%"></span>
						<%= f.hidden_field :full, value: full %>
					</div>
				</div>
			</div>
			<div class="medium-6 columns">
				<div class="percentage">
					<label><span class="capped percentage-label"><%= capped %>%</span> Capped</label>
					<div class="radius progress success medium-12">
						<span class="meter" style="width: <%= capped %>%"></span>
						<%= f.hidden_field :capped, value: capped %>
					</div>
				</div>
			</div>
	</div>
		<div class="row">
			<div class="medium-12 columns">
				<%= f.check_box :ready_for_harvest %>
				<%= f.label :ready_for_harvest %>
				<%= f.hidden_field :_destroy %>
				<%= link_to 'Remove Super', '#', class: "remove-fields" %>
			</div>
		</div>
	</div>
</div>
