<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Hivelife" %></title>
    <%= yield :head %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="navigation-bar">
      <div class="nav-top hide-for-small-only">

      </div>
      <div>
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1><%= link_to 'Hivelife', root_url %></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
          </ul>

          <section class="top-bar-section">
            <!-- Right Nav Section -->
            <ul class="right">
              <li class="active"><%= link_to 'Data', data_path %></li>
              <% if user_signed_in? %>
                <li class="active"><%= link_to 'Settings', edit_user_registration_path %></li>
                <li class="active"><%= link_to 'Logout', destroy_user_session_path %></li>
              <% else %>
                <li class="active"><%= link_to 'Login', new_user_session_path %></li>
              <% end %>
          </ul>
          </section>
        </nav>
      </div>
    </div>

    <div id="container" class="row">
    <%= yield %>
    </div>
    <div id="footer"> <!-- Your footer here -->
      <p>© Hivelife</p>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
